**/obj/
**/bin/
**/.vscode/
**/.vs/
**/.idea/
**/.build/
**/.site/
**/.nvim/
**/roslyn-source-generated:/

*.user
*.suo
*.userosscache
*.sln.docstates
*.sln.iml
*.db
*.db-shm
*.db-wal
*.fake
*.tmp
*.tar
*.key
*.crt
*.pfx
