@page "/login"
@layout Layout.EmptyLayout

<div class="card login-card">
    <h1 class="center-text">Account Login Information</h1>
    <form class="center center-text">
        <label for="username" class="field-label">Username</label>
        <input id="username" class="center" type="text" name="username">
        <label for="password" class="field-label">Password</label>
        <input id="password" class="center" type="password" name="password">
        <a href="/register">Register</a>
        <div class="checkbox-label-container">
            <label for="save-login">Remember Login</label>
            <input id="save-login" type="checkbox" name="save-login">
        </div>
    </form>
    <button class="center btn btn-primary" type="button">Login</button>
</div>